extends layout_admin
block content
  link(rel='stylesheet', type='text/css', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/admin-users.css')
  

  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css')


  hr
  .container.bootstrap.snippet
    .row
      .col-lg-12
        .main-box.no-header.clearfix
          .main-box-body.clearfix

            br
            .ui.container
              #calendar



    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js')
    
    script.
      var testObj = !{calendar_events}
      $(document).ready(function() {
      

        $('#calendar').fullCalendar({
              //- header: {
              //-   left: 'prev,next today',
              //-   center: 'title',
              //-   right: 'month,basicWeek,basicDay'
              //- },
              //- defaultDate: '2019-02-01',
              //- navLinks: true, // can click day/week names to navigate views
              //- editable: true,
              //- eventLimit: true, // allow "more" link when too many events
              events: testObj
        });
                    
      });
