extends layout
block content
  link(href='/stylesheets/sp2-styles.css', rel='stylesheet')
  link(href='/stylesheets/news-main.css', rel='stylesheet', media='all')
  link(href='/stylesheets/sp2-responsive.css', rel='stylesheet')
  .slider.display-table.center-text
    //- h1.title.color-white.display-table-cell-2
    //-   b Criar notícia
  // slider
  section.blog-area.section
    .container
      .row
        .col-lg-1.col-md-0
        .col-lg-10.col-md-12
          .main-post
            
            center.h4.title 
              b Carregar Obra
            .post-top-area
              form(method="POST" enctype="multipart/form-data" action="/obras/carregarFile")
                center.col-sm-12
                  br
                  input.input--style-5(type='file' name='samplefile' accept='.zip' )
                center.col-sm-12
                  br
                  br
                  br
                  button#form-submit.submit-btn(type='submit' value='Submeter Ficheiro') 
                    b Submeter Ficheiro
                