extends layout
block content
  link(href='/stylesheets/sp2-styles.css', rel='stylesheet')
  link(href='/stylesheets/news-main.css', rel='stylesheet', media='all')
  link(href='/stylesheets/sp2-responsive.css', rel='stylesheet')
  .slider.display-table.center-text
    //- h1.title.color-white.display-table-cell-2
    //-   b Criar notícia
  // slider
  section.blog-area.section
    .container
      .row
        .col-lg-1.col-md-0
        .col-lg-10.col-md-12
          .main-post
            center.h3.title 
              b Criar Evento
            .post-top-area
              form(method="POST" action="/noticias")
                .form-row
                  .name Data*
                  .value
                    input.input--style-6(type='text', name='data', required='')
                .form-row
                  .name Local*
                  .value
                    input.input--style-6(type='text', name='local', required='')                          
                .form-row                
                  .name Hora de inicio*
                  .value
                    input.input--style-6(type='text', name='hinicio', required='')
                .form-row                
                  .name Hora de fim*
                  .value
                    input.input--style-6(type='text', name='hfim', required='')
                .form-row       
                  .name Tipo
                  .value
                    input.input--style-6(type='text', name='tipo')
                .form-row
                  .name Designação
                  .value
                    .input-group
                      textarea.textarea--style-6(name='designação', placeholder='Breve descrição do evento...')
                .form-row
                  .name Informações
                  .value
                    .input-group
                      textarea.textarea--style-6(name='infos', placeholder='Informações adicionais sobre o evento...')
                center.col-sm-12
                  button#form-submit.submit-btn(type='submit')
                    b CRIAR EVENTO
              br 
              hr
              br
            center.h4.title 
              b Upload Eventos
            
            label(for='uploadevento') Criar eventos via txt
            input#uploadevento.form-control-file(type='file')
              