extends layout_admin
block content
    link(rel='stylesheet', type='text/css', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/admin-users.css')
    link(href='/stylesheets/sp2-styles.css', rel='stylesheet')
    link(href='/stylesheets/sp2-responsive.css', rel='stylesheet')
    link(href='/stylesheets/news-main.css', rel='stylesheet', media='all')
    hr
    section.blog-area.section
        .container
            .row
                .col-lg-1.col-md-0
                .col-lg-10.col-md-12
                    .main-post3
                        center.h1.title 
                            b Editar utilizador
                        .post-top-area
                            form(method="POST" action="/admin/edit/user/"+testObj.user._id)
                                .form-row
                                    .name Nome
                                    .value
                                        input.input--style-6(type='text', name='nome', required='', placeholder= testObj.user.name)                          
                                .form-row                
                                    .name Username
                                    .value
                                        input.input--style-6(type='text', name='username', placeholder= testObj.user.username)
                                .form-row
                                    .name Email
                                    .value
                                        input.input--style-6(type='text', name='email',  placeholder= testObj.user.email)
                                center.col-sm-12
                                    button#form-submit.submit-btn(type='submit')
                                        b ALTERAR UTILIZADOR
                // col-sm-12