doctype html
html(lang='en')
  head
    title iBanda
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    // Font
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500', rel='stylesheet')
    // Stylesheets
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/ionicons.css', rel='stylesheet')
    link(href='/stylesheets/main-styles.css', rel='stylesheet')
    link(href='/stylesheets/responsive.css', rel='stylesheet')
  body
    header
      .container-fluid.position-relative.no-side-padding
        a.logo(href='#')
          img(src='/images/logo.png', alt='Logo Image')
        .menu-nav-icon(data-nav-menu='#main-menu')
          i.ion-navicon
        ul#main-menu.main-menu.visible-on-click
          li
            a(href='/') Início
          li
            a(href='#') Notícias
          li
            a(href='#') Eventos 
          li
            a(href='#') Obras
                  
        // main-menu
        .menu-nav-icon(data-nav-menu='#main-menu2')
          i.ion-navicon
        ul#main-menu2.main-menu2.visible-on-click
          li
            a(href='/login') Login
        //- .src-area
        //-   form
        //-     button.src-btn(type='submit')
        //-       i.ion-ios-search-strong
        //-     input.src-input(type='text', placeholder='Type of search')
      // conatiner
    block content
    // section
    footer
      .container
        .row
          .col-lg-4.col-md-6
            .footer-section
              a.logo(href='#')
                img(src='/images/logo.png', alt='Logo Image')
              p.copyright iBanda @ 2019. All rights reserved. 
              p.copyright Designed by 
                a(href='https://colorlib.com', target='_blank') Colorlib
          // footer-section
          // col-lg-4 col-md-6

    // SCIPTS
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/tether.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/scripts.js')
