doctype html
html(lang='en')
  head
    title iBanda - Dashboard
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    // Font
    //- link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500', rel='stylesheet')
    // Stylesheets
    //- link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/ionicons.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/main-styles.css') 
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    
    link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
    link(href='/stylesheets/datepicker3.css', rel='stylesheet')
    link(href='/stylesheets/admin-styles.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/login.css')
    
    // Custom Font
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i', rel='stylesheet')
    
  body
    header
      nav.navbar2.navbar-custom.navbar-fixed-top(role='navigation')
        .container-fluid.position-relative.no-side-padding.admin-nav
          //- .navbar-header
          a.logo2(href='/')
              h3 iBanda
          //-   img(src='/images/logo.png', alt='Logo Image')
          .menu-nav-icon(data-nav-menu='#main-menu3')
            i.ion-navicon
          ul#main-menu3.main-menu3.visible-on-click
            li
              a(href='/') Início
            li
              a(href='#') Notícias
            li
              a(href='#') Eventos 
            li
              a(href='#') Obras
                    
          // main-menu
          .menu-nav-icon(data-nav-menu='#main-menu2')
            i.ion-navicon
          ul#main-menu4.main-menu4.visible-on-click
            li
              if (testObj.loggedin)
                a(href='/logout') logout
              else
                a(href='/login') login
        //- .src-area
        //-   form
        //-     button.src-btn(type='submit')
        //-       i.ion-ios-search-strong
        //-     input.src-input(type='text', placeholder='Type of search')
      // conatiner
    //- -------
    // /.sidebar
    #sidebar-collapse.col-sm-3.col-lg-2.sidebar
      .profile-sidebar        
        //- .profile-userpic
        //-   img.img-responsive(src='http://placehold.it/50/30a5ff/fff', alt='')
        center.profile-usertitle
          .profile-usertitle-name= testObj.username
          
        .clear
      .divider
      ul.nav.menu
        - if(testObj.originalUrl === '/admin')
            li.active
              a(href='/admin') 
                em.fa.fa-dashboard  
                |  Dashboard 
        - else
            li
              a(href='/admin') 
                em.fa.fa-dashboard  
                |  Dashboard 
        - if(testObj.originalUrl === '/admin/estatisticas')
            li.active
              a(href='/admin/estatisticas')
                em.fa.fa-bar-chart  
                |  Gráficos
        - else
            li
              a(href='/admin/estatisticas')
                em.fa.fa-bar-chart  
                |  Gráficos 
        
        - if(testObj.originalUrl === '/admin/utilizadores')
            li.active
              a(href='/admin/utilizadores')
                em.fa.fa-users
                |  Utilizadores
        - else
            li
              a(href='/admin/utilizadores')
                em.fa.fa-users
                |  Utilizadores
        - if(testObj.originalUrl === '/admin/obras')
            li.active
              a(href='/admin/obras')
                em.fa.fa-music
                |  Obras
        - else
            li
              a(href='/admin/obras')
                em.fa.fa-music
                |  Obras
        - if(testObj.originalUrl === '/admin/noticias')
            li.active
              a(href='/admin/noticias')
                em.fa.fa-newspaper-o
                |  Notícias
        - else
            li
              a(href='/admin/noticias')
                em.fa.fa-newspaper-o
                |  Notícias
        - if(testObj.originalUrl === '/admin/eventos')
            li.active
              a(href='/admin/eventos')
                em.fa.fa-calendar
                |  Eventos
        - else
            li
              a(href='/admin/eventos')
                em.fa.fa-calendar
                |  Eventos

        //- li
        //-   a(href='elements.html')
        //-     em.fa.fa-toggle-off  
        //-     |  UI Elements
        //- li
        //-   a(href='panels.html')
        //-     em.fa.fa-clone  
        //-     |  Alerts & Panels
        //- li.parent
        //-   a(data-toggle='collapse', href='#sub-item-1')
        //-     em.fa.fa-navicon  
        //-     |  Multilevel 
        //-     span.icon.pull-right(data-toggle='collapse', href='#sub-item-1')
        //-       em.fa.fa-plus
        //-   ul#sub-item-1.children.collapse
        //-     li
        //-       a(href='#')
        //-         span.fa.fa-arrow-right  
        //-         |  Sub Item 1
        //-     li
        //-       a(href='#')
        //-         span.fa.fa-arrow-right  
        //-         |  Sub Item 2
        //-     li
        //-       a(href='#')
        //-         span.fa.fa-arrow-right  
        //-         |  Sub Item 3
        li
          a(href='http://localhost:3000/logout')
            em.fa.fa-power-off  
            |  Logout
    // /.sidebar
    block content
      block child

        //- -------
    // section
    //- footer
    //-   .container
    //-     .row
    //-       .col-sm-12
              
    //-           p.back-link 
    //-             | iBanda @ 2019. All rights reserved. Designed by 
    //-             a(href='https://colorlib.com', target='_blank') Colorlib
          // footer-section
          // col-lg-4 col-md-6

    // SCIPTS

    //- script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap-datepicker.js')
    script(src='/javascripts/custom.js')
