extends layout
block content
    link(rel='stylesheet', href='/stylesheets/main-styles.css')    
    link(href='/stylesheets/responsive.css', rel='stylesheet')
    style.
        table {
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        }
        th {
        cursor: pointer;
        }

    section.blog-area.section
        .container.bootstrap.snippet
            center.h2.w3-teal Obras inseridas
            br
            .row
                .col-lg-12
                    table.table.table-striped#users
                        thead
                            tr
                                th(onclick='sortTable(0)' width="15%") Titulo
                                th(onclick='sortTable(1)' width="20%") Tipo
                                th(onclick='sortTable(2)' width="20%") Compositor
                                
                        each obra in obras
                            tbody
                                tr
                                  td(style='text-align: left;')
                                    a.user-link(href="/obras/obra/"+obra._id)= obra.titulo
                                  
                                  td(style='text-align: left;')= obra.tipo
                                  td(style='text-align: left;')= obra.compositor

    script.
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("users");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch= true;
                        break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount ++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                    }
                }
            }
        }
