//- extends layout.pug

block variables
	- var activePage = 'charts'
	- var activeGroup = 'none'

block title
	title Charts - Vali Admin

block content
	.app-title
		div
		h1
			i.fa.fa-pie-chart
			|  Charts
		p Various type of charts for your project

		ul.app-breadcrumb.breadcrumb
		li.breadcrumb-item
			i.fa.fa-home.fa-lg
		li.breadcrumb-item
			a(href='#') charts

	.row
		.col-md-2
		.tile
			h3.tile-title Line Chart
			.embed-responsive.embed-responsive-16by9
			canvas#lineChartDemo.embed-responsive-item(width='300', height='50')

		.col-md-6
		.tile
			h3.tile-title Bar Chart
			.embed-responsive.embed-responsive-16by9
			canvas.embed-responsive-item(id="barChartDemo")

		.col-md-6
		.tile
			h3.tile-title Radar Chart
			.embed-responsive.embed-responsive-16by9
			canvas.embed-responsive-item(id="radarChartDemo")

		.col-md-6
		.tile
			h3.tile-title Polar Chart
			.embed-responsive.embed-responsive-16by9
			canvas.embed-responsive-item(id="polarChartDemo")

		.col-md-6
		.tile
			h3.tile-title Pie Chart
			.embed-responsive.embed-responsive-16by9
			canvas.embed-responsive-item(id="pieChartDemo")

		.col-md-6
		.tile
			h3.tile-title Doughnut Chart
			.embed-responsive.embed-responsive-16by9
			canvas.embed-responsive-item(id="doughnutChartDemo")


block specific-js
	script(type='text/javascript', src="/javascripts/chart.js")
	script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.1.min.js')
	script(type='text/javascript').
		var testObj = !{testObj};
		
		var ctxl = $("#lineChartDemo").get(0).getContext("2d");		
		var lineChart = new Chart(ctxl).Line(testObj.data);

		var ctxb = $("#barChartDemo").get(0).getContext("2d");
		var barChart = new Chart(ctxb).Bar(testObj.data);

		var ctxr = $("#radarChartDemo").get(0).getContext("2d");
		var radarChart = new Chart(ctxr).Radar(testObj.data);

		var ctxpo = $("#polarChartDemo").get(0).getContext("2d");
		var polarChart = new Chart(ctxpo).PolarArea(testObj.pdata);

		var ctxp = $("#pieChartDemo").get(0).getContext("2d");
		var pieChart = new Chart(ctxp).Pie(testObj.pdata);

		var ctxd = $("#doughnutChartDemo").get(0).getContext("2d");
		var doughnutChart = new Chart(ctxd).Doughnut(testObj.pdata);