extends layout
block content
    link(rel='stylesheet', href='/stylesheets/main-styles.css')    
    link(href='/stylesheets/responsive.css', rel='stylesheet')
    section.blog-area.section
        .container.bootstrap.snippet
            center.h2.w3-teal Utilizadores registados
            .row
                .col-lg-12
                .main-box.no-header.clearfix
                    .main-box-body.clearfix
                        table#dtBasicExample.table.table-striped.table-bordered.table-sm(cellspacing='0', width='100%')
                            table.table.user-list
                                thead
                                    tr
                                        th(class="col-sm-2") User
                                        th(class="col-sm-3") Nome
                                        th(class="col-sm-8") Username
                                        th(class="col-sm-3") Email
                                each user in users
                                    tbody
                                        tr
                                            td(style='text-align: left;')
                                                a.user-link(href="/users/"+user.username)= user.name 
                                                    br
                                                    = user.role
                                            td(style='text-align: left;')= user.name
                                            td(style='text-align: left;')= user.username
                                            td(style='text-align: left;')
                                                a(href="mailto:"+user.email)= user.email
    script.
        $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
        });

                               
